
.loginBox
{
	
	align-items: center
	/*top:70%;
	left:70%;*/
	transform: translate(-50%, -50%);
	
	padding:40px 40px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5) ;
	
}



h2
{
	margin:0;
	padding:0 0 20px;
	color: white;
	text-align:center;
} 



.loginBox p
{
font-size: 15px;
	
	color:#fff;
	
} 


.loginBox input
{
	width:25%;
	margin-bottom: 20px; 
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size: 16px;
	
	
}
.loginBox input[type="email"], .loginBox input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size: 16px;
	
	
}


.loginBox input[type="submit"]
{
	border:none;
	outline:none;
	height: 40px;
	color:#fff;
	font-size:20px;
	background: rgb(255,38,126);
	cursor:pointer;
	border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
 
 
 

.loginBox a
{
	color: #fff;
	font-size:14px;
	
} 


::placeholder
{
	color:rgba(255,255,255,0.5); 
}


/*.user
{
	width:100px;
	height:100px; 
	overflow:hidden;
	position:absolute;
	/*top:calc(-100px/2);
	left:calc(50% - 50px);
	border-radius:50%;
}
 */

 .btn
 {
	 border:none;
	 outline:none;
	 height: 40px;
	 width: 200px;
	 color:#fff;
	 font-size:20px;
	 background: rgb(255,38,126);
	 cursor:pointer;
	 border-radius:20px;
 }