/* --------------------INDEX PAGE---------------------*/

/*START HEADER*/
#topHeader{
    background-color: whitesmoke;
    border-bottom: 1px solid silver;

}
#topHeader a{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid{
    padding: 0px;   
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 400;
}
.btn{
    color: black;
    background-color: hotpink;
    border-color:black;

}
/*END HEADER*/


/*START FOOTER*/
.full-footer{
    background-color: black;
    /*position: absolute;
    bottom: 0%;
    width: 100%; */
}
.topFooter p
{
    color: silver;
    font-size: 15px;
}
.topFooter a
{
    color: silver;
    font-size: 15px;
}

.bottomFooter{
    background-color:#95a5a6;
    font-size: 10px;
    color: black;
    
}
/*END FOOTER*/



/*BODY*/

.top-section
{
    background-color:hotpink;
    color: white;
    font-weight: 600;
}

/*middle section*/

.middle{
    color: black;
}
.quality{
    width: 200px;
}
.end{
background-color: black;
color: white;
}

.newsletter{
    color: white;
    background-color: black;
}
.newsletter .form-control{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
    background-color:white;
}
.newsletter .btn{
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background-color:hotpink;
    color: black;
}

.client{
    background-color: #f0f0f0;

}
/* --------------------INDEX PAGE END---------------------*/


 /*-----------------------ABOUT US PAGE------------*/

.breadcrumbs-section
{
    background-color: #e9ecef;
}
/*-----------------------ABOUT US PAGE END------------*/

/* --------------------CONTACT US PAGE---------------------*/


.address p
{
    font-weight: 600;
   
}
.address a{
    color: hotpink;
}




/*-------------------------TEAM PAGE--------------------------------*/





/*----------------------------LOGIN ----------------------------------*/

body{
   
    background-size: cover
    
}